.profile {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    max-width: 880px;
    width: 70%;
    padding-top: 40px;
    padding-bottom: 51px;
    margin: 0 auto;
    align-items: center;
}

@media screen and (max-width: 950px) {
    .profile {
        display: block;
        text-align: center;
        width: auto;
        padding-bottom: 36px;
    }
}