.header {
    max-width: 880px;
    width: 70%;
    padding-top: 45px;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
}

@media screen and (max-width: 950px) {
    .header {
        max-width: 100%;
        width: 100%;
    }
}