.elements {
    max-width: 880px;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    padding-bottom: 67px;
    gap: 17px 20px;
}

@media screen and (max-width: 1100px) {
    .elements {
        width: 63%;
        max-width: 585px;
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
}

@media screen and (max-width: 810px) {
    .elements {
        width: 90%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: none;
    }
}