.popup__input-aboutme {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    margin-top: 30px;
    outline: none;
    padding-bottom: 13px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}