.popup__close-icon {
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: rgba(00,00,00, 0);
    background-image: url(../../../images/svg/Close\ Icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.7s;
    cursor: pointer;
    width: 2em;
    height: 2em;
    outline: none;
    border: 0;
    appearance: none;
}
.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 796px) {
    .popup__close-icon {
        right: 0;
        top: -35px;
        width: 1.3em;
        height: 1.3em;
        padding: 0;
        background-image: url(../../../images/svg/Close\ Icon-mobile.svg);
    }
}