.profile__text-paragraph {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 950px) {
    .profile__text-paragraph {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 36px;
    }
}